body {
    background-color: #eb19b6;
    color: #fffefe;
    background-image: url("img/SakuraField.webp");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    
}

ul {
  list-style-type: circle; 
  list-style-image: url("img/Flor.png")
}


